<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 1.0686721702676805" rpy="0 0 0"/>
            <mass value="1.0" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.0686721702676805" rpy="0 0 0"/>
            <geometry>
                <box size="0.724362858720932 0.4331535957146847 0.13734434053536096" />
            </geometry>
            <material name="Green">
            <color rgba="0.164 0.776 0.478 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.0686721702676805" rpy="0 0 0"/>
            <geometry>
                <box size="0.724362858720932 0.4331535957146847 0.13734434053536096" />
            </geometry>
        </collision>
    </link>
    <link name="Link1">
        <inertial>
            <origin xyz="-0.3366182998515598 0.0 0.0" rpy="0 0 0"/>
            <mass value="1.0" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3366182998515598 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6732365997031196 0.5234645983671453 0.6969933508148894" />
            </geometry>
            <material name="Blue">
            <color rgba="0.164 0.776 0.95 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3366182998515598 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6732365997031196 0.5234645983671453 0.6969933508148894" />
            </geometry>
        </collision>
    </link>
    <link name="Link2">
        <inertial>
            <origin xyz="0.1570465914297865 0.0 0.0" rpy="0 0 0"/>
            <mass value="1.0" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1570465914297865 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.314093182859573 0.21191300217450704 0.43769735161863244" />
            </geometry>
            <material name="Blue">
            <color rgba="0.164 0.776 0.95 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1570465914297865 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.314093182859573 0.21191300217450704 0.43769735161863244" />
            </geometry>
        </collision>
    </link>
    <link name="Link3">
        <inertial>
            <origin xyz="0.0 -0.4990581984084857 0.0" rpy="0 0 0"/>
            <mass value="1.0" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.4990581984084857 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5495891810327165 0.9981163968169714 0.21272996992813303" />
            </geometry>
            <material name="Green">
            <color rgba="0.164 0.776 0.478 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.4990581984084857 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5495891810327165 0.9981163968169714 0.21272996992813303" />
            </geometry>
        </collision>
    </link>
    <link name="Link4">
        <inertial>
            <origin xyz="0.0 0.0 -0.2930191705119418" rpy="0 0 0"/>
            <mass value="1.0" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.2930191705119418" rpy="0 0 0"/>
            <geometry>
                <box size="0.9203666824460559 0.37309323434580655 0.5860383410238836" />
            </geometry>
            <material name="Green">
            <color rgba="0.164 0.776 0.478 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.2930191705119418" rpy="0 0 0"/>
            <geometry>
                <box size="0.9203666824460559 0.37309323434580655 0.5860383410238836" />
            </geometry>
        </collision>
    </link>
    <link name="Link5">
        <inertial>
            <origin xyz="-0.3017346661561472 0.0 0.0" rpy="0 0 0"/>
            <mass value="1.0" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3017346661561472 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6034693323122944 0.2944612105070073 0.5359555519501887" />
            </geometry>
            <material name="Blue">
            <color rgba="0.164 0.776 0.95 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3017346661561472 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6034693323122944 0.2944612105070073 0.5359555519501887" />
            </geometry>
        </collision>
    </link>
    <link name="Link6">
        <inertial>
            <origin xyz="0.0 -0.4069488654941937 0.0" rpy="0 0 0"/>
            <mass value="1.0" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.4069488654941937 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8183240516954915 0.8138977309883874 0.19265081554590618" />
            </geometry>
            <material name="Green">
            <color rgba="0.164 0.776 0.478 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.4069488654941937 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8183240516954915 0.8138977309883874 0.19265081554590618" />
            </geometry>
        </collision>
    </link>
    <link name="Link7">
        <inertial>
            <origin xyz="0.0 0.30435037083270117 0.0" rpy="0 0 0"/>
            <mass value="1.0" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.30435037083270117 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7195710301124663 0.6087007416654023 0.8083710049230411" />
            </geometry>
            <material name="Green">
            <color rgba="0.164 0.776 0.478 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.30435037083270117 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7195710301124663 0.6087007416654023 0.8083710049230411" />
            </geometry>
        </collision>
    </link>
    <link name="Link8">
        <inertial>
            <origin xyz="0.0 0.4973417827722965 0.0" rpy="0 0 0"/>
            <mass value="1.0" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.4973417827722965 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.11017612957618131 0.994683565544593 0.24431219139846905" />
            </geometry>
            <material name="Blue">
            <color rgba="0.164 0.776 0.95 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.4973417827722965 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.11017612957618131 0.994683565544593 0.24431219139846905" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="fixed">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-0.362181429360466 0.0 1.0686721702676805" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link0_Link2" type="fixed">
       <parent link="Link0"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.362181429360466 0.0 1.0686721702676805" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link0_Link3" type="fixed">
       <parent link="Link0"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0 -0.21657679785734235 1.0686721702676805" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.0 -0.4990581984084857 -0.10636498496406654" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link1_Link5" type="revolute">
       <parent link="Link1"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="-0.6732365997031198 0.0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link3_Link6" type="revolute">
       <parent link="Link3"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.0 -0.9981163968169715 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link1_Link7" type="revolute">
       <parent link="Link1"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="-0.33661829985155983 0.26173229918357266 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link4_Link8" type="fixed">
       <parent link="Link4"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0.0 0.18654661717290322 -0.2930191705119418" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>