<robot name = "robot">
    <link name="Pin1Base">
        <inertial>
            <origin xyz="6 0 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="6 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
            <color rgba="0.3 0.3 0.4 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="6 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <link name="Pin2Base">
        <inertial>
            <origin xyz="6.5 0.5 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="6.5 0.5 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
            <color rgba="0.3 0.3 0.4 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="6.5 0.5 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <link name="Pin3Base">
        <inertial>
            <origin xyz="6.5 -0.5 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="6.5 -0.5 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
            <color rgba="0.3 0.3 0.4 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="6.5 -0.5 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <link name="Pin4Base">
        <inertial>
            <origin xyz="7 1 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="7 1 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
            <color rgba="0.3 0.3 0.4 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="7 1 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <link name="Pin5Base">
        <inertial>
            <origin xyz="7 0 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="7 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
            <color rgba="0.3 0.3 0.4 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="7 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <link name="Pin6Base">
        <inertial>
            <origin xyz="7 -1 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="7 -1 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
            <color rgba="0.3 0.3 0.4 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="7 -1 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <link name="Pin7Base">
        <inertial>
            <origin xyz="7.5 1.5 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="7.5 1.5 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
            <color rgba="0.3 0.3 0.4 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="7.5 1.5 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <link name="Pin8Base">
        <inertial>
            <origin xyz="7.5 0.5 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="7.5 0.5 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
            <color rgba="0.3 0.3 0.4 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="7.5 0.5 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <link name="Pin9Base">
        <inertial>
            <origin xyz="7.5 -0.5 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="7.5 -0.5 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
            <color rgba="0.3 0.3 0.4 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="7.5 -0.5 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <link name="Pin10Base">
        <inertial>
            <origin xyz="7.5 -1.5 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="7.5 -1.5 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
            <color rgba="0.3 0.3 0.4 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="7.5 -1.5 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
</robot>